{% extends "base.html" %}
{% block content %}

<div class="products-container">

    {% for product in all_products %}
    <div class="product">
        <div class="content"> 
            <a href="/products/{{product.id}}">{{product.name}}<span>product!</span></a>
            <div class="product">
                <p>product id: {{product.id}}</p>
                <p>name: {{product.name}}</p>
                <p>description: {{product.description}}</p>
                <p>quantity: {{product.quantity}}</p>
                <p>buy price: {{product.buy_price}}</p>
                <p>sell price: {{product.sell_price}}</p>
            </div>
            <div class="buttons">
            
                <form class="delete-form" action="/products/{{product.id}}/delete" method="POST">
                    <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>

    {% endfor %} 

</div>

{% endblock %} 