{% extends "base.html" %}
{% block content %}

<div class="manufacturers-container">

    {% for manufacturers in all_manufacturers %}
    <div class="manufacturer">
        <div class="content"> 
            <a href="/manufacturers/{{manufacturer.id}}">{{manufacturer.name}}<span>Hello!</span></a>
            <div class="name">
                manufacturer id: {{manufacturer.id}}
            </div>
            <div class="buttons">
            
                <form class="delete-form" action="/manufacturers/{{manufacturer.id}}/delete" method="POST">
                    <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>

    {% endfor %} 

</div>

{% endblock %} 